<div id="div_main">
  <canvas id="div_rendering_canvas"></canvas>
  <div id="div_books_table">
    <div class="title">your books</div>
    <table id="table_books">
      <tr>
        <th>Title</th><th>Pages</th><th>Avg. Rating</th>
      </tr>

      <% i=0; session[:owned_books].each do |book| %>
          <tr id="<%= i %>">
            <% i = i+1  %>
            <td><%= book.book_title %></td>
            <td><%= book.book_num_pages %></td>
            <td><%= book.book_average_rating %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div style="position:fixed;top:10px; left:10px" id="div_log">

</div>
<script>
    $(document).ready(function() {
        var books_entries =
                [
                    <% i=0; session[:owned_books].each do |book|  %>
                    {
                        book_title:'<%= book.book_title %>',
                        book_num_pages:<%= book.book_num_pages != '' ? book.book_num_pages : 100 %>,
                        book_image_url:'<%= book.book_image_url %>'
                    }<%= (i < session[:owned_books].size - 1) ? "," : "" %>
                    <% i = i + 1 %>
                    <% end %>
                ];
        console.log(books_entries);

        env3d_init(1000.0, 600.0, "div_rendering_canvas");
        loadEnvironmentModel("../environment.dae", function()
            {
                loadBookcaseTemplate("../bookcase.dae", function()
                    {
                        placeOnBookcases(books_entries);
                        env3d_render();
                    })
            })
         });

    $('#table_books tr').click(function (event) {
        //alert($(this).attr('id')); //trying to alert id of the clicked row
        clearHighlight();
        highlightBook($(this).attr('id'));
    });

</script>
